{{#module.mixins.length}}
<section id="mixins">

    <h2>Mixins</h2>

    {{#module.mixins}}
    <div class="well" style="margin-bottom: 40px">
        <div class="member public" style="background-color: #e8e8e8">

            <span class="pull-right scope">Object</span>

            <h4 id="mixin-{{object.ctx.name}}" style="font-weight: 600">
                {{object.ctx.name}}
            </h4>

            <em>{{{object.description.full}}}</em>

            {{#properties.length}}
            <section>
                <b>Properties</b>
                <ul>
                    {{#properties}}
                    <li style="{{#isPrivate}} display: none{{/isPrivate}}"><a href="#{{ctx.scope.owner}}-{{ctx.name}}">{{ctx.name}}</a></li>
                    {{/properties}}
                </ul>
            </section>
            {{/properties.length}}


            {{#methods.length}}
            <section>
                <b>Methods</b>
                <ul>
                    {{#methods}}
                    <li style="{{#isPrivate}} display: none{{/isPrivate}}"><a href="#{{ctx.scope.owner}}-{{ctx.name}}">{{ctx.name}}</a></li>
                    {{/methods}}
                </ul>
            </section>
            {{/methods.length}}

            {{> examples}}

        </div>

        {{#properties.length}}
        <section class="properties {{hasProperties}}">

            <h3>Properties</h3>

            {{#properties}}
                {{> variable}}
            {{/properties}}

        </section>
        {{/properties.length}}

        {{#methods.length}}
        <section class="methods">

            <h3>Methods</h3>

            {{#methods}}
                {{> function}}
            {{/methods}}

        </section>
        {{/methods.length}}

    </div>
    {{/module.mixins}}

</section>
{{/module.mixins.length}}
